@model IEnumerable<prog5.Models.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Gast.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kamer.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Gast.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kamer.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Booknr }) |
            @Html.ActionLink("Details", "Details", new { id=item.Booknr }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Booknr })
        </td>
    </tr>
}

</table>
