@model prog5.Models.Booking

@{
    ViewBag.Title = "Balance";
}

<h2>Balance</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gast.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gast.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kamer.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kamer.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dd>
            Total Price : @ViewBag.Prijs
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Anuleer", "Cancel", new { id = Model.Booknr }) |
    @Html.ActionLink("Bevestig", "Index")
</p>
